$color-white: #fff;
$color-gray: #e4e4e4;
$color-default: #4c98c9;
$color-blue: #4c98c9;
$color-green: #3fbfae;
$color-orange: #ee7757;
$color-red: #e45050;
$color-yellow: #f1bd69;
$color-pink: #df739b;
$color-purple: #c78ed7;
$color-brown: #9c7c6f;
$color-navy: #34495e;
$color-aqua: #28b8d8;
$color-forest: #85ae7d;
$color-lime: #afca74;
$color-violet: #9a8eb2;
$color-sky: #7bc4e6;
$color-dark: #272727;


$color-green-transparent: rgba(63, 191, 174, 0.8);
$color-white-transparent: rgba(255,255,255, 0.8);
$color-black-transparent: rgba(0,0,0, 0.2);
