<div class="col-sm-6">
{% if breadcrumbs is defined %}
  <ol class="breadcrumb float-sm-right">
  {% for breadcrumb in breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ breadcrumb.link }}">{{ breadcrumb.name }}</a></li>
  {% endfor %}
  </ol>
{% endif %}
</div>
