@import '../styles/scss/breakpoints.module.scss';

.contact {

  &__icons {
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    
    &__group {
      margin-top: 10px;
    }
  }

  &__notification {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }

  &__button {
    grid-area: form-button;
  }

}
