
@import '../assets/scss/colors.scss';
@import '../assets/scss/breakpoints.scss';

.projects {

  &__list {
    justify-items: center;
    justify-content: center;

    &.grid-column {
      display: grid;
      grid-template-columns: repeat(auto-fill, 280px);
      grid-gap: 30px 30px;;
    }
  }
}
