
@import '../assets/scss/colors.scss';

.grid-footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 2.5em minmax(70px, auto) minmax(70px, auto) 2.5em;
  grid-template-areas:
    "........... ........... ........... ........... ........... ........... ........... ........... ........... ........... ........... ..........."
    "..........  socialmedia socialmedia socialmedia socialmedia socialmedia socialmedia socialmedia socialmedia socialmedia socialmedia ..........."
    "      copyrights copyrights copyrights copyrights copyrights copyrights copyrights copyrights copyrights copyrights copyrights copyrights      "
    "........... ........... ........... ........... ........... ........... ........... ........... ........... ........... ........... ..........."
}

.footer {

  justify-items: center;
  align-items: center;
  background: $color-dark;

  .social-media {
    grid-area: socialmedia;

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
    }
  }

  .copy-rights {
    grid-area: copyrights;
    color: $color-white;
  }

} 